<div class="uk-margin-bottom">
    <div class="uk-flex uk-flex-wrap uk-flex-wrap-around">
        <h3>Meses</h3>
        <p class="uk-margin-remove-top uk-margin-remove-bottom">
            <button *ngIf="corporationResponse.isCurrentUserAdmin" [disabled]="corporationResponse.status.value != 4"
                class="uk-button uk-button-primary uk-margin-left" type="button"
                uk-toggle="target: #modal-close-total-profit">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                Novo mês
            </button>
        </p>
    </div>

    <!-- This is the modal with the default close button -->
    <div id="modal-close-total-profit" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-flex">
                <h2 class="uk-modal-title uk-margin-medium-right">Novo período</h2>
                <app-loading *ngIf="busy" [ratio]="1"></app-loading>
            </div>

            <form [formGroup]="formProfit" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="startDate">Início</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="startDate" formControlName="startDate" type="date"
                            placeholder="Início do período"
                            [ngClass]="{'uk-form-danger': (!formProfit.controls.startDate.valid && !formProfit.controls.startDate.pristine) }">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="endDate">Final</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="endDate" formControlName="endDate" type="date"
                            placeholder="Fim do período"
                            [ngClass]="{'uk-form-danger': (!formProfit.controls.endDate.valid && !formProfit.controls.endDate.pristine) }">
                    </div>
                </div>

                <div class="uk-text-right">
                    <button class="uk-button uk-button-default" [disabled]="formProfit.invalid" (click)="addMonth()"
                        uk-toggle="target: #modal-close-total-profit">Adicionar</button>
                </div>
            </form>

        </div>
    </div>

    <!-- <p *ngIf="corporationResponse.monthlyBalances.length == 0">Nenhum mês para ser exibido</p> -->

    <div>
        <p *ngIf="corporationResponse.monthlyBalances.length == 0" class="uk-text-default uk-margin-large-bottom">
            Nenhum mês para ser exibido
        </p>

        <div *ngIf="corporationResponse.monthlyBalances.length > 0">
            <ul uk-accordion>
                <li *ngFor="let monthlyBalance of corporationResponse.monthlyBalances | paginate: { 
                itemsPerPage: 10, 
                currentPage: paginationResult.page, 
                totalItems: paginationResult.totalRecords }">

                    <div class="uk-accordion-title">
                        <p>De <i>{{ monthlyBalance.startDate | date:'longDate' }}</i> até <i>{{ monthlyBalance.endDate |
                                date:'longDate' }}</i></p>
                    </div>

                    <div class="uk-accordion-content uk-text-meta">
                        <p>Status do mês: {{ monthlyBalance.status.description }}</p>
                        <p>Total: {{ monthlyBalance.totalProfit }}</p>

                        <div *ngFor="let participantBalances of monthlyBalance.participantBalances">
                <li>
                    <div class="uk-accordion-content uk-text-meta">
                        <p>{{ participantBalances.participantName }} : {{ participantBalances.balance | currency:
                            'BRL'}}</p>
                        <p>Status: {{ participantBalances.status.description }}</p>
                        <p>Comentário: {{ participantBalances.description }}</p>
                    </div>
                </li>
        </div>

        <div class="uk-margin-top">
            <button *ngIf="corporationResponse.isCurrentUserAdmin" (click)="selectMonth(monthlyBalance.id)"
                class="uk-button uk-button-default" uk-toggle="target: #register-income-modal">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                Adicionar renda
            </button>

            <button
            *ngIf="corporationResponse.isCurrentUserAdmin"
                (click)="closeMonth(monthlyBalance.id)" class="uk-button uk-button-default uk-margin-small-right">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: check"></span>
                Realizar fechamento
            </button>

            <button
                *ngIf="monthlyBalance.currentUserBalanceStatus?.value == 1 || monthlyBalance.currentUserBalanceStatus?.value == 3"
                (click)="acceptBalance(monthlyBalance.id)" class="uk-button uk-button-default uk-margin-small-right">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: check"></span>
                Aceitar
            </button>

            <button *ngIf="monthlyBalance.currentUserBalanceStatus?.value == 1"
                (click)="rejectBalance(monthlyBalance.id)" class="uk-button uk-button-default">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: ban"></span>
                Contestar
            </button>

            <button *ngIf="monthlyBalance.currentUserBalanceStatus?.value != null"
                (click)="selectMonth(monthlyBalance.id)" class="uk-button uk-button-default"
                uk-toggle="target: #participant-balance-description-modal">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                Comentar
            </button>
        </div>
    </div>
    </li>

    <!-- This is the modal with the default close button -->
    <div id="participant-balance-description-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-flex">
                <h2 class="uk-modal-title uk-margin-medium-right">Adicionar comentário</h2>
                <app-loading *ngIf="busy" [ratio]="1"></app-loading>
            </div>

            <form [formGroup]="formParticipantBalanceDescription" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="description">Comentário</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="description" formControlName="description" type="text"
                            placeholder="Novo comentário" [ngClass]="{'uk-form-danger': (!formParticipantBalanceDescription.controls.description.valid 
                            && !formParticipantBalanceDescription.controls.description.pristine) }">
                    </div>
                </div>

                <div class="uk-text-right">
                    <button class="uk-button uk-button-default" [disabled]="formParticipantBalanceDescription.invalid"
                        (click)="addParticipantDescriptionToMonth()"
                        uk-toggle="target: #participant-balance-description-modal">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- This is the modal with the default close button -->
    <div id="register-income-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-flex">
                <h2 class="uk-modal-title uk-margin-medium-right">Adicionar comentário</h2>
                <app-loading *ngIf="busy" [ratio]="1"></app-loading>
            </div>

            <form [formGroup]="formRegisterIncome" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="title">Título</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="title" formControlName="title" type="text"
                            placeholder="Novo comentário" [ngClass]="{'uk-form-danger': (!formRegisterIncome.controls.title.valid 
                            && !formRegisterIncome.controls.title.pristine) }">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="description">Descrição</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="description" formControlName="description" type="text"
                            placeholder="Novo comentário" [ngClass]="{'uk-form-danger': (!formRegisterIncome.controls.description.valid 
                            && !formRegisterIncome.controls.description.pristine) }">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="value">Valor</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="value" formControlName="value" type="number" placeholder="Valor"
                            [ngClass]="{'uk-form-danger': (!formRegisterIncome.controls.value.valid 
                            && !formRegisterIncome.controls.value.pristine) }">
                    </div>
                </div>

                <div class="uk-text-right">
                    <button class="uk-button uk-button-default" [disabled]="formRegisterIncome.invalid"
                        (click)="registerIncome()" uk-toggle="target: #register-income-modal">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>

    </ul>

    <div class="uk-text-center uk-margin-medium-top uk-margin-medium-bottom">
        <pagination-controls (pageChange)="paginationResult.page = $event"></pagination-controls>
    </div>

</div>

</div>
</div>