<div class="uk-margin-bottom">
    <div class="uk-flex">
        <h3>Meses</h3>
        <p class="uk-margin-remove-top uk-margin-remove-bottom">
            <button *ngIf="corporationResponse.isCurrentUserAdmin"
                [disabled]="corporationResponse.status.value != 4"
                class="uk-button uk-button-primary uk-margin-left" type="button"
                uk-toggle="target: #modal-close-total-profit">Novo mês
            </button>
        </p>
    </div>

    <!-- This is the modal with the default close button -->
    <div id="modal-close-total-profit" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Novo mês</h2>

            <form [formGroup]="formProfit" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="totalProfit">Valor total</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="totalProfit" formControlName="totalProfit" type="number"
                            placeholder="Valor total">
                    </div>
                </div>

                <div class="uk-text-right">
                    <button class="uk-button uk-button-default" (click)="addMonth()">Adicionar</button>
                </div>
            </form>

        </div>
    </div>

    <!-- <p *ngIf="corporationResponse.monthlyBalances.length == 0">Nenhum mês para ser exibido</p> -->

    <div>
        <ul uk-accordion>
            <li *ngFor="let monthlyBalance of corporationResponse.monthlyBalances">
                <p class="uk-accordion-title">{{ monthlyBalance.month | date }}</p>
                <div class="uk-accordion-content uk-text-meta">
                    <p>Status do mês: {{ monthlyBalance.status.description }}</p>
                    <p>Total: {{ monthlyBalance.totalProfit }}</p>

                    <div *ngFor="let participantBalances of monthlyBalance.participantBalances">
            <li>
                <div class="uk-accordion-content uk-text-meta">
                    <p>{{ participantBalances.participantName }} : {{ participantBalances.balance |
                        currency: 'BRL'}}</p>
                    <p>Status: {{ participantBalances.status.description }}</p>
                </div>
            </li>
    </div>

    <div class="uk-margin-top">
        <button (click)="acceptBalance(monthlyBalance.id)"
            class="uk-button uk-button-primary uk-margin-right">Aceitar</button>
        <button (click)="rejectBalance(monthlyBalance.id)"
            class="uk-button uk-button-primary">Contestar</button>
    </div>
</div>
</li>
</ul>
</div>
</div>
