<h1>Detalhes do período</h1>

<h2>Período</h2>
<p>Data de início: {{ periodDetailedReponse.startDate | date }}</p>
<p>Data de término: {{ periodDetailedReponse.endDate | date }}</p>

<h2>Entradas</h2>
<div *ngFor = "let income of periodDetailedReponse.incomes">
    <p>Título: {{ income.title }} || Descriçao: {{ income.description }} || Valor: {{ income.value }} ||</p>
</div>

<h2>Lucro total</h2>
<p>{{ periodDetailedReponse.totalProfit }}</p>

<h2>Participantes</h2>
<div *ngFor = "let participantBalance of periodDetailedReponse.participantBalances">
    <p>Título: {{ participantBalance.fullName }} || Lucro: {{ participantBalance.balance }}</p>
</div>
