<div class="uk-container uk-margin-top uk-width-2-3@l">
    <div class="uk-card uk-card-default uk-margin-bottom">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ corporationResponse.name }}</h3>

                    <div>
                        <p class="uk-margin-remove-top">
                            <button (click)="finishCreation()" class="uk-button uk-button-primary uk-margin-left"
                                type="button">
                                Finalizar criação
                            </button>
                        </p>
                    </div>

                    <div>
                        <p class="uk-margin-remove-bottom">
                            <button (click)="activateCorporation()" class="uk-button uk-button-primary uk-margin-left"
                                type="button">
                                Ativar corporação
                            </button>
                        </p>
                    </div>

                    <div uk-grid class="uk-margin-top">
                        <p class="uk-text-meta uk-margin-remove-top uk-width-1-2 uk-margin-bottom">
                            Data de criação: 01/01/2021
                        </p>

                        <p class="uk-text-meta uk-margin-remove-top uk-width-1-2 uk-margin-bottom">
                            Administrador: {{ corporationResponse.admin }}
                        </p>

                        <p class="uk-text-meta uk-margin-remove-top uk-width-1-2 uk-margin-bottom">
                            Status: {{ corporationResponse.status }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-card-body">
            <!-- <hr class="uk-divider-icon"> -->

            <div class="uk-margin-medium-bottom">
                <div class="uk-flex">
                    <h3>Participantes</h3>
                    <!-- This is a button toggling the modal with the default close button -->
                    <div>
                        <p class="uk-margin-remove-top uk-margin-remove-bottom">
                            <button class="uk-button uk-button-primary uk-margin-left" type="button"
                                uk-toggle="target: #modal-close-default">Novo participante</button>
                        </p>
                    </div>

                    <!-- This is the modal with the default close button -->
                    <div id="modal-close-default" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <h2 class="uk-modal-title">Novo participante</h2>

                            <form [formGroup]="form" class="uk-form-stacked">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="email">Email do participante</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="email" formControlName="email" type="email"
                                            placeholder="Email">
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="sharedPercentage">Porcentagem do total</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="sharedPercentage" formControlName="sharedPercentage"
                                            type="number" placeholder="Porcentagem do total">
                                    </div>
                                </div>

                                <div class="uk-text-right">
                                    <button class="uk-button uk-button-default"
                                        (click)="inviteParticipant()">Adicionar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <ul uk-accordion *ngFor="let participant of corporationResponse.participants">
                    <li>
                        <p class="uk-accordion-title uk-text-default">{{ participant.fullName }}</p>

                        <div class="uk-accordion-content uk-text-meta">
                            <p>Status do participante: {{ participant.invitationStatus }}</p>
                            <p>Porcentagem do total: {{ (participant.sharedPercentage/100) | percent:'1.2' }}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="uk-margin-bottom">
                <h3>Meses</h3>

                <button (click)="addMonth()" class="uk-button uk-button-primary">Adicionar</button>

                <!-- <p *ngIf="corporationResponse.monthlyBalances.length == 0">Nenhum mês para ser exibido</p> -->

                <div>
                    <ul uk-accordion>
                        <li *ngFor="let corporation of corporationResponse.monthlyBalances">
                            <p class="uk-accordion-title">{{ corporation.month | date }}</p>
                            <div class="uk-accordion-content uk-text-meta">
                                <p>Total: {{ corporation.totalProfit }}</p>

                                    <li *ngFor="let participantBalances of corporation.participantBalances">
                                        <div class="uk-accordion-content uk-text-meta">
                                            <p>{{ participantBalances.participantName }} : {{ participantBalances.balance | currency: 'BRL'}}</p>
                                        </div>
                                    </li>

                                    <button (click)="acceptBalance(corporation.id)" class="uk-button uk-button-primary">Adicionar</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="uk-card-footer">
            <a href="/corporacao" class="uk-button">Voltar</a>
        </div>
    </div>
</div>