<div class="uk-container uk-width-2-3 uk-margin-top">
    <div class="">
        <div class="uk-card uk-card-default uk-card-body">
            <h2>Pagamento</h2>

            <p>Você está adquirindo a licença {{licenseResponse.license.description}}</p>

            <form>
                <div class="uk-margin">
                    <label class="uk-form-label" for="startDate">Número do cartão</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="startDate" type="number"
                            placeholder="XXXX-XXXX-XXXX-XXXX">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="startDate">Data vencimento</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="startDate" type="date"
                            placeholder="01/01/2000">
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-text-right uk-width-1-2">
                        <button href="/home" class="uk-button uk-button-default">Entrar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>