<div *ngIf="busy" class="uk-position-center uk-overlay">
    <app-loading [ratio] = 3></app-loading>
</div>

<div *ngIf="!busy" class="uk-position-center uk-overlay uk-box-shadow-xlarge">
    <div class="uk-card uk-card-body">
        <h3 class="uk-card-title uk-text-center uk-text-light">Fazer login</h3>
        <form [formGroup]="form">
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                    <input class="uk-input" formControlName="username" type="text" placeholder="Usuário"
                    [ngClass]="{'uk-form-danger': (!form.controls.username.valid && !form.controls.username.pristine) }">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" formControlName="password" type="password" placeholder="Senha"
                    [ngClass]="{'uk-form-danger': (form.controls.password.invalid && !form.controls.password.pristine) }">
                </div>
            </div>

            <div class="uk-grid">
                <div class="uk-text-right uk-width-1-2">
                    <button href="/home" class="uk-button uk-button-default" (click)="login()">Entrar</button>
                </div>
            </div>
            
        </form>

        <div class="uk-margin uk-width-1-2">
            <a href="/signup">Criar conta</a>
        </div>
    </div>
</div>